<meta charset="utf-8">
<fieldset>
    <h2>회원가입</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label>Username *</label>
                <input id="clientEmail" name="username" type="text" class="required form-control">
            </div>
            <div class="form-group">
                <label>Password *</label>
                <input id="pw" name="password" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Confirm Password *</label>
                <input id="pwcheck" name="confirm" type="text" class="form-control required">
            </div>
        </div>
    </div>
    <a ui-sref="windowTest.step_two" class="btn btn-primary">Next</a>
</fieldset>
