<meta charset="utf-8">
<div class="wrapper wrapper-content ng-scope" style="overflow:auto">
	<div class="row">
		<div class="col-lg-8">
			<div class="row">
				<div class="col-lg-4">
				    <div class="ibox float-e-margins">
				        <div class="ibox-title">
				            <h5>세법</h5>
				        </div>
				        <div id="tax_Law_content" class="ibox-content">
				        	<small>등록</small>
				            <h1 id="taxLaw4" class="no-margins">0</h1>
				            <small>접수</small>
				            <h1 id="taxLaw1" class="no-margins">0</h1>
				            <small>보류</small>
				            <h1 id="taxLaw2" class="no-margins">0</h1>
				            <small>해결</small>
				            <h1 id="taxLaw3" class="no-margins">0</h1>
				        </div>
				    </div>
				</div>
				<div class="col-lg-4">
				    <div class="ibox float-e-margins">
				        <div class="ibox-title">
				            <h5>시스템</h5>
				        </div>
				        <div class="ibox-content">
				        	<small>등록</small>
				            <h1 id="system4" class="no-margins">0</h1>
				            <small>접수</small>
				            <h1 id="system1" class="no-margins">0</h1>
				            <small>보류</small>
				            <h1 id="system2" class="no-margins">0</h1>
				            <small>해결</small>
				            <h1 id="system3" class="no-margins">0</h1>
				        </div>
				    </div>
				</div>
				<div class="col-lg-4">
				    <div class="ibox float-e-margins">
				        <div class="ibox-title">
				            <h5>운용</h5>
				        </div>
				        <div class="ibox-content">
				        	<small>등록</small>
				            <h1 id="management4" class="no-margins">0</h1>
				            <small>접수</small>
				            <h1 id="management1" class="no-margins">0</h1>
				            <small>보류</small>
				            <h1 id="management2" class="no-margins">0</h1>
				            <small>해결</small>
				            <h1 id="management3" class="no-margins">0</h1>
				        </div>
				    </div>
				</div>
<!-- 				<div class="col-lg-3"> -->
<!-- 				    <div class="ibox float-e-margins"> -->
<!-- 				        <div class="ibox-title"> -->
<!-- 				            <h5>기타</h5> -->
<!-- 				        </div> -->
<!-- 				        <div class="ibox-content"> -->
<!-- 				            <small>접수</small> -->
<!-- 				            <h1 id="etc1" class="no-margins">0</h1> -->
<!-- 				            <small>보류</small> -->
<!-- 				            <h1 id="etc2" class="no-margins">0</h1> -->
<!-- 				            <small>해결</small> -->
<!-- 				            <h1 id="etc3" class="no-margins">0</h1> -->
<!-- 				        </div> -->
<!-- 				    </div> -->
<!-- 				</div> -->
			</div>
			<div class="row">
				<div class="col-lg-12">
				    <div class="ibox float-e-margins">
				    	<div class="ibox-title">
				            <h5>Type list count</h5>
				        </div>
				        <div class="ibox-content">
				          <div style="width: 100%" id="doughnutChart"></div>
				        </div>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
				    <div class="ibox float-e-margins">
				    	<div class="ibox-title">
				            <h5>Today</h5>
				        </div>
				        <div class="ibox-content">
				          <div style="width: 100%" id="barChart"></div>
				        </div>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
				    <div class="ibox float-e-margins">
				    	<div class="ibox-title">
				            <h5>A Month</h5>
				        </div>
				        <div class="ibox-content">
				        		<select id="monthSelect" class="input-sm form-control input-s-sm inline">
				        		
		                       </select>
				          	<div style="width: 100%; margin-top: 2px;" id="lineChart"></div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
			    <div id="userPostNum" class="ibox float-e-margins">
			        <div class="ibox-title">
			            <h5>User activity</h5>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>
<script src="../js/plugins/chart/chart.js"></script>
