<div class="col-lg-6">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div style="width: 100%" id="doughnutChart"></div>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div style="width: 100%" id="barChart"></div>
        </div>
    </div>
</div>
<div class="ibox-content">
    <div class="row">
        <div class="col-xs-4">
            <small class="stats-label">Pages / Visit</small>
            <h4>236 321.80</h4>
        </div>

        <div class="col-xs-4">
            <small class="stats-label">% New Visits</small>
            <h4>46.11%</h4>
        </div>
        <div class="col-xs-4">
            <small class="stats-label">Last week</small>
            <h4>432.021</h4>
        </div>
    </div>
</div>
<!-- <div id="chartdiv"></div> -->
<script src="../js/plugins/chart/chart.js"></script>
