<meta charset="utf-8">
<form class="form-horizontal" role="form">
    <div class="form-group"><label class="col-sm-2 control-label">회사명</label>
        <div class="col-sm-10"><input id="comName" type="text" class="form-control" required></div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group"><label class="col-sm-2 control-label">주소</label>
        <div class="col-sm-10">
       		<input type="text" class="form-control" id="addr" placeholder="주소"  readonly required>
			<input type="text" class="form-control" id="addr2" placeholder="상세주소" required>
			<button id="addrbtn" onclick="sample6_execDaumPostcode()" class="btn btn-default" type="button">
			<i class="fa fa-search"></i>&nbsp;&nbsp;주소검색</button>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group"><label class="col-sm-2 control-label">사업자등록번호</label>
        <div class="col-sm-10"><input id="licenseeNum" type="text" class="form-control" placeholder="-제외" required></div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group"><label class="col-sm-2 control-label">법인등록번호</label>

        <div class="col-sm-10"><input id="corporateNum" type="text" class="form-control" placeholder="-제외" required></div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group"><label class="col-sm-2 control-label">고객구분 <br/><small class="text-navy">복수 선택 가능</small></label>
        <div class="col-sm-10">
            <div class="i-checks"><label> <input class="checkBox" type="checkbox" ng-true-value="yeta"> <i></i> YETA </label></div>
            <div class="i-checks"><label> <input class="checkBox" type="checkbox" ng-true-value="academy"> <i></i> 아카데미 </label></div>
            <div class="i-checks"><label> <input class="checkBox" type="checkbox" ng-true-value="consulting"> <i></i> 자문 </label></div>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            <input id="companySubmit" onclick="submitCompany()" class="btn btn-primary" type="button" value="Save">
        </div>
    </div>
</form>