<meta charset="UTF-8">
<div class="panel-body">
<div class="ibox float-e-margins">
     <div class="ibox-content no-padding">
         <ul class="list-group" id="departmentList1">
         </ul>
     </div>
 </div>
 <div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>부서 추가</h5>
</div>
<div class="ibox-content">
    <form id="departmentForm" class="form-inline">
            <input type="text" placeholder="Enter Text" class="form-control" id="departmentInput" required>
         <input class="btn btn-white" onclick="depart()" type="button" value="Add">
        </form>
    </div>
</div>
</div>
<script src="../js/plugins/admin/admin.js"></script>