<meta charset="UTF-8">
<div class="panel-body">
<div class="ibox float-e-margins">
     <div class="ibox-content no-padding">
         <ul class="list-group" id="jobList1">
         </ul>
     </div>
 </div>
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>직책 추가</h5>
</div>
<div class="ibox-content">
    <form id="jobForm" class="form-inline">
        <div class="form-group">
            <input type="text" placeholder="Enter Text" class="form-control" id="jobInput" required>
         <input class="btn btn-white" type="button" onclick="job()" value="Add">
            </div>
        </form>
    </div>
</div>
</div>
<script src="../js/plugins/admin/admin.js"></script>