<meta charset="utf-8">
<div class="center animated fadeInRight">
    <div class="row">
    	<div class="ibox float-e-margins">
           	<button ui-sref="cIndex.notifyPage" class="col-lg-12 btn btn-primary" type="button">공지사항</button>
 			<button class="col-lg-4 btn btn-warning" type="button">시스템 문의</button>
            <button class="col-lg-4 btn btn-danger" type="button">운용 문의</button>
            <button class="col-lg-4 btn btn-info" type="button">세법 문의</button>
        </div>
    </div>
</div>