
<div class="container">
    <h1>Flashlight: Search library built on Firebase and ElasticSearch</h1>
    <div class="row">
        <div class="col-md-6">
           <form role="form" class="form-inline">
               <!-- turn this into a select to search multiple indexes -->
               <input type="hidden" name="index" value="firebase" />
               <div class="input-group">
                   <input type="text" class="form-control" name="term" value="you" placeholder="Enter search term">
                   <span class="input-group-btn">
                       <button class="btn btn-default" type="submit">Search!</button>
                   </span>
               </div>
               <ul class="list-inline">
                   <li><label><input type="radio" name="type" value="posts" checked> posts</label></li>
                   <li class="divider"></li>
                   <li><label><input type="checkbox" name="exact"> match whole phrase</label></li>
               </ul>
               <ul class="list-inline paginate-fields">
                   <li>Pagination: </li>
                   <li><label>size <input type="number" name="size" /></label></li>
                   <li><label>from <input type="number" name="from" /></label></li>
               </ul>
               <p class="help-block">You may use * or ? for wild cards in your search.</p>
           </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
           <h2>Results <span id="total" class="zero">0</span></h2>
           <pre id="results" class="pre-scrollable zero">(enter a search term)</pre>
           <h2>The query used</h2>
           <pre id="query" class="pre-scrollable"></pre>
        </div>
        <div class="col-md-6">
           <h2>Raw data</h2>
            <pre id="raw" class="pre-scrollable"></pre>
        </div>
    </div>
</div>

<!-- the app -->
<script type="text/javascript" src="../js/example.js"></script>
