<meta charset="UTF-8">
<div class="panel-body">
	<div class="ibox float-e-margins">
	     <div class="ibox-content no-padding">
	         <ul class="list-group" id="typeList1">
	         </ul>
	     </div>
	 </div>
	 <div class="ibox float-e-margins">
	    <div class="ibox-title">
	        <h5>질문유형 추가</h5>
	    </div>
	    <div class="ibox-content">
	        <form id="typeForm" class="form-inline">
	            <div class="form-group">
	                <input type="text" placeholder="Enter Text" class="form-control" id="typeInput" required>
	             <input class="btn btn-white" type="button" onclick="adminType()" value="Add">
	            </div>
	        </form>
	    </div>
	</div>
</div>
<script src="../js/plugins/admin/admin.js"></script>