<meta charset="utf-8">
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Messages</h5>
        </div>
        <div class="ibox-content ibox-heading">
            <h3><i class="fa fa-envelope-o"></i> New messages</h3>
            <small><i class="fa fa-tim"></i> You have <b id="size">0</b> new messages.</small>
        </div>
        <div class="ibox-content">
            <div class="feed-activity-list" id="messageBox">
               
            </div>
        </div>
    </div>
</div>
<script src="../js/plugins/user/user.js"></script>