<meta charset="utf-8">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 fadeInRight">
            <div class="mail-box-header">
                <div class="pull-right tooltip-demo" id="viewButton"></div>
                <h3>
                	질문
                </h3>
                <div class="mail-tools tooltip-demo m-t-md">
                    <small class="font font-info" id="mark">
                        <span class="pull-right font-noraml" id="postDate"></span>
                    </small>
                    <br>
                    <br>
                    <h2>
                        <span class="font-warning" id="viewTitle"></span>
                    </h2>
                </div>
            </div>
            <div class="mail-box">
                <div class="mail-body" id="viewText"></div>
                <div class="mail-attachment">
                     <p>
                         <span><i class="fa fa-paperclip"></i> 첨부파일</span>
                     </p>
                     <div class="attachment" id="viewFile">
                     </div>
                 </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div id="replyBox" class="row">
        <div class="col-lg-10 col-lg-offset-1 fadeInRight">
            <div class="mail-box-header">
                <div class="pull-right tooltip-demo" id="viewButton">
                </div>
                <h3>
                	답변
                </h3>
                <div class="mail-tools tooltip-demo m-t-md">
                    <h5>
                        <span class="pull-right font-noraml" id="replyDate"></span>
                       	작성자: <span class="font-noraml" id="replyName"></span></br>
                    </h5>
                </div>
            </div>
            <div class="mail-box">
                <div class="mail-body" id="replyText"></div>
                <div class="mail-attachment">
                     <p>
                         <span><i class="fa fa-paperclip"></i> 첨부파일</span>
                     </p>
                     <div class="attachment" id="replyFile">
                     </div>
                 </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 fadeInRight">
            <div class="ibox">
                <div class="ibox-content">
                    <table id="postTbl" class="table table-hover">
                        <thead>
                            <tr>
                                <th>상태</th>
                                <th>구분</th>
                                <th>제목</th>
                                <th>접수시간</th>
                            </tr>
                        </thead>
                        <tbody id="viewQnaList">
                        </tbody>
                    </table>
                    <div class="text-center" id="pagination">
                        <ul class="pagination pagination-sm" id="nav">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="../js/plugins/clientPost/qnaList.js"></script>
<script src="../js/plugins/clientPost/qnaView.js"></script>