<meta charset="utf-8">
<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2>2016</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            CRM
                        </li>
                        <li class="active">
                            <strong>YETA 고객상담 </strong>
                        </li>
                        <li>
							<h1 id="testView"></h1>
						</li>
                    </ol>
                </div>
            </div>
			


            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content mailbox-content">
                                <div class="file-manager">

                                    <h5>Status</h5>
                                    <a class="btn btn-block btn-primary btn-outline " href="">접수</a>
                                    <!-- <div class="BTN-GROUP BTN-BLOCK">
                                        <BUTTON DATA-TOGGLE="DROPDOWN" CLASS="BTN  BTN-PRIMARY BTN-OUTLINE DROPDOWN-TOGGLE">해결 <SPAN CLASS="CARET"></SPAN></BUTTON>
                                        <UL CLASS="DROPDOWN-MENU">
                                            <LI><A HREF="#">접수</A></LI>
                                            <LI><A HREF="#" CLASS="FONT-BOLD">해결</A></LI>
                                            <LI><A HREF="#">보류</A></LI>
                                        </UL>
                                    </DIV> -->
                                    <div class="space-25"></div>

                                    <h5>Client Information</h5>
                                    <ul class="folder-list m-b-md" style="padding: 0">
                                        <li>
                                            <a> <i class="fa fa-building-o "></i> 고객사 <span class="pull-right" id="viewCompany"></span> </a>
                                        </li>
                                        <li><a href=""><i class="fa fa-flag-o "></i> 고객구분
                                      <span class="pull-right">
                                        <span class="badge badge-success" id="viewYeta"> Y </span>
                                        <span class="badge badge-info" id="viewAcademy"> A </span>
                                        <span class="badge badge-warning" id="viewConsulting"> C </span>
                                      </span>
                                    </a></li>
                                        <li>
                                            <a> <i class="fa fa-user"></i> 담당자 <span class="pull-right" id="viewCustomer"></span></a>
                                        </li>
                                        <li>
                                            <a> <i class="fa fa-phone"></i> 연락처 <span class="pull-right" id="viewCall"></span></a>
                                        </li>
                                    </ul>
                                    <h5>Categories</h5>
                                    <ul class="category-list" style="padding: 0">
                                        <li id="viewType1">
                                            <a href="#"> <i class="fa fa-circle text-navy"></i> 세법 </a>
                                        </li>
                                        <li id="viewType2">
                                            <a href="#"> <i class="fa fa-circle text-danger"></i> 시스템</a>
                                        </li>
                                        <li id="viewType3">
                                            <a href="#"> <i class="fa fa-circle text-primary"></i> 운용</a>
                                        </li>
                                        <li id="viewType4">
                                            <a href="#"> <i class="fa fa-circle text-info"></i> 기타</a>
                                        </li>
                                    </ul>

                                    <h5 class="tag-title">Tags</h5>
                                    <ul class="tag-list" style="padding: 0">
                                        <li><a href=""><i class="fa fa-tag"></i> 부양가족</a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 animated fadeInRight">
                        <div class="mail-box-header">
                            <div class="pull-right tooltip-demo">
                                <a href="mail_compose.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Reply"><i class="fa fa-pencil"></i> 수정</a>
                                <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> 삭제</a>
                            </div>
                            <h2 class="font-bold" id="viewTitle">
                            
                          </h2>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="small text-right">
                                        <div> 접수: 원정연 (16.12.11 오후 2시 30분)</div>
                                        <div> 수정: 원정연 (16.12.11 오후 2시 35분)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mail-box">
                            <div class="mail-body">
                                <p><b>문의내용</b></p>
                                <p>&nbsp; &nbsp; 연말정산 시 형제자매(대학생)의 교육비 공제 가능 여부<b><br></b></p>
                                <p><b>답변내용</b></p>
                                <p>&nbsp; &nbsp; 형제자매의 교육비는 나이를 제외한 기본공제요건(생계, 소득)을 만족할 시 공제 가능<b><br></b></p>
                            </div>
                            <div class="mail-attachment">
                                <p>
                                    <span><i class="fa fa-paperclip"></i> 첨부파일</span>
                                </p>

                                <div class="attachment">
                                    <div class="file-box">
                                        <div class="file">
                                            <a href="#">
                                                <span class="corner"></span>

                                                <div class="image">
                                                    <img alt="image" class="img-responsive" src="img/p1.jpg">
                                                </div>
                                                <div class="file-name">
                                                    Italy street.jpg
                                                    <br/>
                                                    <small>Added: Jan 6, 2014</small>
                                                </div>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="file-box">
                                        <div class="file">
                                            <a href="#">
                                                <span class="corner"></span>

                                                <div class="image">
                                                    <img alt="image" class="img-responsive" src="img/p2.jpg">
                                                </div>
                                                <div class="file-name">
                                                    My feel.png
                                                    <br/>
                                                    <small>Added: Jan 7, 2014</small>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="mail-body tooltip-demo">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4>댓글:</h4>
                                        <div class="social-footer">
                                            <div class="social-comment">
                                                <a href="" class="pull-left">
                                                    <img alt="image" src="img/profile_small.jpg">
                                                </a>
                                                <div class="media-body">
                                                    <a href="#">
                                                  원정연
                                              </a>
                                                    <small class="text-muted">12.06.2014</small>
                                                    <br/> 오늘 오후까지 PIP에서 직접 연락하여 처리하기로 약속함
                                                    <br/>

                                                </div>
                                            </div>

                                            <div class="social-comment">
                                                <a href="" class="pull-left">
                                                    <img alt="image" src="img/profile_small.jpg">
                                                </a>
                                                <div class="media-body">
                                                    <a href="#">
                                                  원정연
                                              </a>
                                                    <small class="text-muted">12.06.2014</small>
                                                    <br/> PIP에서 연락하여 처리 완료
                                                    <br/>

                                                </div>
                                            </div>

                                            <div class="social-comment">
                                                <a href="" class="pull-left">
<!--                                                     <img alt="image" src=""> -->
                                                </a>
                                                <div class="media-body">
                                                    <div class="input-group">
                                                        <textarea class="form-control" placeholder="댓글 작성....."></textarea>
                                                        <span class="input-group-btn">
                                                      <button type="button" class="btn btn-primary btn-lg">올리기</button>
                                                    </span>
                                                    </div>
                                                    <!-- <textarea class="form-control" placeholder="Write comment..."></textarea> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="../js/plugins/view_call_record/view_call_record.js"></script>