<meta charset="utf-8">
<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2>2016</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            CRM
                        </li>
                        <li class="active">
                            <strong>YETA 고객상담 </strong>
                        </li>
                        <li>
							<h1 id="testView"></h1>
						</li>
                    </ol>
                </div>
            </div>

            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content mailbox-content">
                                <div class="file-manager">

                                    <h5>Status</h5>
                                    <a class="btn btn-block btn-primary btn-outline " id="postAccept" >접수</a>
                                    <div class="space-25"></div>

                                    <h5>Client Information</h5>
                                    <ul class="folder-list m-b-md" style="padding: 0">
                                        <li>
                                            <a> <i class="fa fa-building-o "></i> 고객사 <span class="pull-right" id="viewCompany"></span> </a>
                                        </li>
                                        <li><a href=""><i class="fa fa-flag-o "></i> 고객구분
                                      <span class="pull-right">
                                        <span class="badge badge-success" id="viewYeta"> Y </span>
                                        <span class="badge badge-info" id="viewAcademy"> A </span>
                                        <span class="badge badge-warning" id="viewConsulting"> C </span>
                                      </span>
                                    </a></li>
                                        <li>
                                            <a> <i class="fa fa-user"></i> 담당자 <span class="pull-right" id="viewCustomer"></span></a>
                                        </li>
                                        <li>
                                            <a> <i class="fa fa-phone"></i> 연락처 <span class="pull-right" id="viewCall"></span></a>
                                        </li>
                                    </ul>
                                    <h5>Categories</h5>
                                    <ul class="category-list" style="padding: 0">
                                        <li id="viewType1">
                                            <a href="#"> <i class="fa fa-circle text-navy" id="viewTaxLaw"></i> 세법 </a>
                                        </li>
                                        <li id="viewType2">
                                            <a href="#"> <i class="fa fa-circle text-danger" id="viewSystem"></i> 시스템</a>
                                        </li>
                                        <li id="viewType3">
                                            <a href="#"> <i class="fa fa-circle text-primary" id="viewEmployment"></i> 운용</a>
                                        </li>
                                        <li id="viewType4">
                                            <a href="#"> <i class="fa fa-circle text-info" id="viewEtc"></i> 기타</a>
                                        </li>
                                    </ul>

                                    <h5 class="tag-title">Tags</h5>
                                    <ul class="tag-list" style="padding: 0">
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 animated fadeInRight">
                        <div class="mail-box-header">
                            <div class="pull-right tooltip-demo" id="viewButton">
                            
                            </div>
                            <h2 class="font-bold" id="viewTitle">
                          </h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="small text-right">
                                        <div id="viewAccept"> </div>
                                        <div id="viewReply"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
						
                        <div class="mail-box">
                            <div class="mail-body">
                                <p><b>문의내용</b></p>
                                <div id="viewText"></div>
                                <p><b>답변내용</b></p>
                                <div id="ReplyText"></div>
                            </div>
                            <div class="mail-attachment">
                                <p>
                                    <span><i class="fa fa-paperclip"></i> 첨부파일</span>
                                </p>
                                <div class="attachment" id="viewFile">
                                
                                </div>
                            </div>
                            <div class="mail-body tooltip-demo">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4>댓글:</h4>
                                        <div class="social-footer">
                                            <div class="social-comment" id="commentArea">
                                            </div>
                                            <div class="social-comment">
                                                <a href="" class="pull-left">
                                                </a>
                                                <div class="media-body">
                                                    <div class="input-group">
                                                        <textarea class="form-control" placeholder="댓글 작성" id="comment"></textarea>
                                                        <span class="input-group-btn">
                                                      <button type="button" class="btn btn-primary btn-lg" id="uploadComment">올리기</button>
                                                    </span>
                                                    </div>
                                                    <!-- <textarea class="form-control" placeholder="Write comment..."></textarea> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="../js/plugins/view_call_record/view_call_record.js"></script>