<meta charset="utf-8">
           <div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    	<div class="pull-right tooltip-demo" id="viewButton">
                            
                    	</div>
                        <button id="patch" class="btn btn-white btn-xs" type="button">패치</button>
                        <button id="notice" class="btn btn-white btn-xs" type="button">공지</button>
                    <div class="text-center article-title">
                        <span class="text-muted" id="notifyDate"></span>
                        <h2 id="viewTitle">
                        </h2>
                    </div>
                    <p id="viewText">
                    </p>
                    <hr>
                     <p>
                         <span><i class="fa fa-paperclip"></i> 첨부파일</span>
                     </p>
                     <div class="attachment" id="viewFile">
                     </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/plugins/notifyForm/viewNotify.js"></script>