<meta charset="utf-8">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12 animated fadeInRight">
                        <div class="mail-box-header">
                        	<div class="pull-right tooltip-demo" id="viewButton">
                            
                            </div>
                            <h2 class="font-bold" id="viewTitle">
                          </h2>
                          <div class="row">
                                <div class="col-md-12">
                                    <div class="small text-right">
                                        <div id="postDate"> </div>
                                        <div id="replyDate"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mail-box">
                            <div class="mail-body">
                                <p><h3>내용</h3></p>
                                <div id="viewText"></div>
                            </div>
                            <div class="mail-body">
                                <p><h3>답변</h3></p>
                                <div id="replyText"></div>
                            </div>
                            <div class="mail-attachment">
                                <p>
                                    <span><i class="fa fa-paperclip"></i> 첨부파일</span>
                                </p>
                                <div class="attachment" id="viewFile">
                                
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="../js/plugins/clientPost/qnaView.js"></script>
