<meta charset="utf-8">
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element" uib-dropdown>
                            	<a><img id="navprofileImg" alt="img" class="img-circle" src=""></a>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold" id="navUserName"></strong>
                             	</span>
                                <span class="text-muted text-xs block" id="navjob"><b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu="" class="animated fadeInRight m-t-xs">
                        <li><a onclick="logout()" id="navlogout">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    ATNP
                </div>

            </li>
				<li ui-sref-active="active"><a><i class="fa fa-users"></i><span class="nav-label">CRM</span><span class="fa arrow"></span></a>
                   	<ul class="nav nav-second-level collapse">
                        <li><a ui-sref="index.chart">CR Dashboard</a></li>
                        <li>
                            <a>고객관리 <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a ui-sref="index.client_company_list">고객사 관리</a>
                                </li>
                                <li>
                                     <a ui-sref="index.client_user_list">담당자 관리</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>YETA 고객상담 <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a ui-sref="index.call_list">2016</a>
                                </li>
                            </ul>
                        </li>
                   	</ul>
        		</li>
                <li ui-sref-active="active">
                    <a><i class="fa fa-gear"></i><span class="nav-label">관리자페이지 </span><span class="fa arrow"></span></a>
                    <ul class="nav collapse nav-second-level">
                        <li><a ui-sref="index.jobList">부서 / 직책관리</a></li>
                        <li><a ui-sref="index.typeList">글 유형관리</a></li>
                        <li><a ui-sref="index.userList">회원관리</a></li>
                        <li><a href="#/index/notifyPage?no=1">공지사항관리</a></li>
                        <li><a href="#/index/group">글 분류관리</a></li>
                    </ul>
                </li>
        </ul>

    </div>
</nav>