<meta charset="utf-8">
<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>	
            </button>
            <a ui-sref="cIndex.main" class="navbar-brand">AT&P Partners</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="cIndex.notifyPage">공지사항</a>
                </li>
                <li>
                    <a onclick="systemBtn()">시스템 문의</a>
                </li>
                <li>
                    <a onclick="managementBtn()">운용 문의</a>
                </li>
                <li>
                    <a onclick="taxLawBtn()">세법 문의</a>
                </li>
                <li>
                    <a onclick="qnaList()">문의 리스트</a>
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a onclick="Clogout()" id="logout"><i class="fa fa-sign-out"></i>logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>