<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
            <form role="search" class="navbar-form-custom" method="post" action="">
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a id="loginBtn">
                    <i class="fa fa-sign-out"></i> 
                </a>
            </li>
        </ul>
    </nav>
</div>

