<meta charset="utf-8">
<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <ul class="nav navbar-top-links navbar-right">
        	<li>
                <a ui-sref="cIndex.notifyPage">공지사항</a>
            </li>
            <li>
            	<a>시스템 문의</a>
            </li>
            <li>
            	<a>운용 문의</a>
            </li>
            <li>
            	<a>세법 문의</a>
            </li>
            <li>
            	<a onclick="logout()" id="logout"><i class="fa fa-sign-out"></i>logout</a>
            </li>
        </ul>
    </nav>
</div>

