<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>
        <ul class="nav navbar-top-links navbar-right">
        	<li uib-dropdown>
                <a class="count-info" href uib-dropdown-toggle>
                    <i class="fa fa-envelope"></i> <span class="label label-warning alertNum"></span>
                </a>
                <ul class="dropdown-messages" id="userAlert" uib-dropdown-menu>
                	<li>
                        <div class="text-center link-block">
                            <a ui-sref="index.user">
                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
            	<a onclick="logout()" id="logout"><i class="fa fa-sign-out"></i>logout</a>
            </li>
        </ul>
    </nav>
</div>

